<div class="container"> 
  <div class="row"> 
    <div class="col-md-6 offset-md-3">
      <%= form_for ([:admin, @doctor]) do |form| %>
        <% if doctor.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

            <ul>
            <% @doctor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, id: :doctor_first_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, id: :doctor_last_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :address %>
          <%= form.text_field :address, id: :doctor_address, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :city %>
          <%= form.text_field :city, id: :doctor_city, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :state %>
          <%= form.text_field :state, id: :doctor_state, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :country %>
          <%= form.text_field :country, id: :doctor_country, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :zipcode %>
          <%= form.text_field :zipcode, id: :doctor_zipcode, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :contact %>
          <%= form.text_field :contact, id: :doctor_contact, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :profile_photo %><br>
          <%= form.file_field :profile_photo, id: :doctor_profile_photo %>
        </div>

        <div class="form-group">
          <%= form.label :about %>
          <%= form.text_area :about, id: :doctor_about, class: "form-control ckeditor" %>
        </div>

        <div class="form-group">
          <%= form.label :age %>
          <%= form.number_field :age, id: :doctor_age, class: "form-control", min: "0" %>
        </div>

        <div class="form-group">
          <%= form.label :gender %>
          <%= form.text_field :gender, id: :doctor_gender, class: "form-control" %>
        </div>

        <div class="actions">
          <%= form.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".ckeditor").ckeditor();
</script>