<div class="nested-fields">
  <div class="container">  
    <div class="row">
      <div class="col-md-4">
        <div class="form-group time-select">
          <%= f.label :from %><br>
          <%= f.time_select :from, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group time-select">
          <%= f.label :to %><br>
          <%= f.time_select :to, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mt-4">
          <%= link_to_remove_association "Remove Slot", f, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .time-select select {height: 37px;width: 50px;}
  .time-select select option {padding-left:10px;}
</style>