<div class="container">
  <div class="search-box">
    <div class="card">
      <div class="card-body search-card">
        <%= search_form_for @q, url: :doctor_search_result, method: :get do |f| %>
          <div class="input-group mb-3">  
            <%= f.search_field :name_cont, class: "form-control input-lg", placeholder: "Search doctor by specialization area", "aria-describedby" => "basic-addon2" %>
            <div class="input-group-append">
              <%= f.submit class: "btn btn-primary btn-lg" do %>
                <i class="fa fa-search"></i> Search
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="doctors-grid">
    <h2 class="text-center">Our Top Rated Doctors</h2>
    <div class="row">
      <% @doctors.each do |doctor| %>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="card doctor-card">
            <%= image_tag doctor.profile_photo_url, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= doctor.name %></h5>
              <p class="card-text"><i class="fa fa-map-marker"></i> <%= doctor.full_address %></p>
              <%= link_to doctor_path(doctor), class: "btn btn-primary" do %>
                <i class="fa fa-eye"></i> View Details
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>