<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :doctor_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :doctor_last_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :doctor_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :doctor_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :doctor_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :doctor_country %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode, id: :doctor_zipcode %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :doctor_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :doctor_longitude %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact, id: :doctor_contact %>
  </div>

  <div class="field">
    <%= form.label :profile_photo %>
    <%= form.text_field :profile_photo, id: :doctor_profile_photo %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :doctor_about %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :doctor_age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :doctor_gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
