<div class="jumbotron">
  <h1 class="display-4">Get your doctor!</h1>
  <p class="lead">To get appointment with <%= @doctor.name %> please select on of the available slots and click on it.</p>
  <hr class="my-4">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-xs-12 col-sm-7">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <%= image_tag @doctor.profile_photo, class: "doctor-profile-img" %>
            </div>
            <div class="col-md-7">
              <h3 class="card-title"><%= @doctor.name %></h3>
              <p class="card-text doctor-about"><%= @doctor.about.html_safe%></p>
              <h5 class="doctor-items"><i class="fa fa-phone"></i> <%= @doctor.contact %></h5>
              <h5 class="doctor-items"><i class="fa fa-map-marker"></i> <%= @doctor.full_address %></h5>
              <h5 class="doctor-items"><i class="fa fa-list"></i>
                <% @doctor.specialization_areas.map {|sa| sa.name}.flatten.each do |specialization| %>
                  <%= specialization %>,   
                <% end %>
              </h5>
              <h5 class="card-title"><%= @doctor.total_experience_years %> Year Experience</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4 mb-4">
        <div class="card-header">
          <h4 class="card-title">Available Slots for morning</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <% if @doctor.morning_slots.present? %>
              <% @doctor.morning_slots.each do |slot| %>
                <div class="mt-2">  
                  <%= link_to appointment_new_path(doctor_id: @doctor.id, morning_slot_id: slot.id), class: "btn btn-primary", style: "margin-left:20px;" do %>
                    <%= slot.from.strftime("%H:%M %p") %> to <%= slot.to.strftime("%H:%M %p") %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card mt-4 mb-4">
        <div class="card-header">
          <h4 class="card-title">Available slots for afternoon</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <% if @doctor.afternoon_slots.present? %>
              <% @doctor.afternoon_slots.each do |slot| %>
                <div class="mt-2">  
                  <%= link_to appointment_new_path(doctor_id: @doctor.id, noon_slot_id: slot.id), class: "btn btn-primary", style: "margin-left:20px;" do %>
                    <%= slot.from.strftime("%H:%M %p") %> to <%= slot.to.strftime("%H:%M %p") %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card mt-4 mb-4">
        <div class="card-header">
          <h4 class="card-title">Available slots for evening</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <% if @doctor.evening_slots.present? %>
              <% @doctor.evening_slots.each do |slot| %>
                <div class="mt-2">  
                  <%= link_to appointment_new_path(doctor_id: @doctor.id, evening_slot_id: slot.id), class: "btn btn-primary", style: "margin-left:20px;" do %>
                    <%= slot.from.strftime("%H:%M %p") %> to <%= slot.to.strftime("%H:%M %p") %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-5">
      <div id="map"></div>
      <div class="card mt-4">
        <div class="card-header">
          <h4 class="card-title">Appointment Instructions</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Please click on one of the available slot timing you want. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function initMap() {
    var doctor_address = {lat: <%= @doctor.latitude %>, lng: <%= @doctor.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: doctor_address
    });
    var marker = new google.maps.Marker({
      position: doctor_address,
      map: map
    });
  }
</script>
<script 
  async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC1cqAmyA4B5g45X12AYT61H3XLUzUQxs&callback=initMap">
</script>