<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="mt-5">
        <p class="lead">Please provide your details to confirm your appointment from <%= @slot.from.strftime("%H:%M %p") %> to <%= @slot.to.strftime("%H:%M %p") %> with <b><%= @doctor.name %></b></p>
        <div class="card">
          <div class="card-header">
            <h3>Personal Information</h3>
          </div>
          <div class="card-body">
            <%= form_for :new_appointment, url: :appointments_create_appointment, method: :post do |f| %>
              <%= f.hidden_field :doctor_id, value: @doctor.id %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.label :age %>
                    <%= f.number_field :age, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= f.label :gender %>
                    <%= f.text_field :gender, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :contact %>
                    <%= f.text_field :contact, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.submit "Submit Details", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker').datetimepicker({
      format: 'DD/MM/YYYY HH:MM'
    });
  });
</script>